{% extends "base.html" %}
{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <h1>Delete Movie</h1>
        <p>Do you really want to delete {{movie.title}}?</p>
        <form method="post" action="{{url_for('main.delete_movie', movie_title=movie.title)}}">
            <button type="submit" class="btn btn-default">Confirm</button>
            <a href="{{ url_for('main.movie', genre_name=movie.genre_name, movie_title=movie.title) }}" class="btn btn-default delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Cancel
            </a>
        </form>
    </div>
</div>
{% endblock %}